<div class="phonebook">
    <button class="add-entry">Add New Contact</button>
    <div class="phonebook-entries">
        {{#each phonebook}}
            <div class="phonebook-entry">
                <span>{{this.name}} ({{@key}})</span>
                <button class="toggle-type" data-number="{{@key}}">
                    {{#if (eq this.type "audio")}}
                        Switch to Text
                    {{else}}
                        Switch to Audio
                    {{/if}}
                </button>
                <button class="delete-entry" data-number="{{@key}}">Delete</button>
            </div>
        {{/each}}
    </div>
</div> 